@import "tailwindcss";

@theme {
  --color-nc-sky: #72C6EF;
  --color-nc-grass: #7ED657;
  --color-nc-wood: #E67337;
  --color-nc-hair: #8C5E35;
  --color-nc-cream: #FDF6E9;
  --color-nc-blue-dark: #4A90E2; 
  --color-nc-brown-card: #8C5E35; 

  --font-sans: "Fredoka", sans-serif;
  --font-pixel: "Courier New", monospace;
}

body {
  background-color: white;
  font-family: var(--font-sans);
  color: #4A4A4A;
}